# Ignore Python virtual environment
engtrackervenv/
venv/

# Ignore Python cache
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore local assets
assets/
engtrackervenv/

audio_processor1.py
complete.py
