# Ignore Python virtual environment
engtrackervenv/
venv/

# Ignore Python cache
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
*.pk
*.txt

# Ignore OS-specific files
.DS_Store
Thumbs.db
